<% layout('layout') -%>
<% script('javascripts/adjDoc.js') -%>
<% script('javascripts/adjectives.js') -%>

    <section class="mainContent">
	    <div class="featureHeading">
          <p class="featureTitle">Adjective builder</p>
		  <p class="featureDescription">The adjective builder works much like the verb builder. Input the 
            dictionary form of a true adjective (must end in &quot;i&quot;). The 
            builder will drop the "i" and attach the proper ending.</p>
	    </div>

    	<div class="featureSubcontainer">
	    	<div class="tryIt">
	    		<span class="tryIt-label">Try it!</span>
	    		<div class="tryIt-examples">
	    			<div class="tryIt-example">
	    				<span class="tryIt-example-label">expensive</span>
	    				<button class="btn" onclick="tryAdj(this)">takai</button>
	    			</div>
	    			<div class="tryIt-example">
	    				<span class="tryIt-example-label">hot</span>
	    				<button class="btn" onclick="tryAdj(this)">atsui</button>
	    			</div>
	    			<div class="tryIt-example">
	    				<span class="tryIt-example-label">deep</span>
	    				<button class="btn" onclick="tryAdj(this)">fukai</button>
	    			</div>
	    			<div class="tryIt-example">
	    				<span class="tryIt-example-label">small</span>
	    				<button class="btn" onclick="tryAdj(this)">chiisai</button>
	    			</div>
	    		</div>
	    	</div>
		<div class="builderControls">
			<span>Dictionary Form:</span>
			<input id="aDicFormTF" type="text" class="input-small">
			<button id="buildAdj" class="buildBtn btn" onClick="getAdjectiveForms()">Adjectives</button>
		</div>

          <table class="gggk-table builder">
	          <tr> 
	            <td>&nbsp;</td>
	            <td class="polarityCol gLabel">Affirmative</td>
	            <td class="polarityCol gLabel">Negative</td>
	          </tr>
	          <tr> 
	            <td class="gLabel">Plain Present</td>
	            <td id="aPlPresTF"> 
	            </td>
	            <td id="aPlPresNTF"> 
	            </td>
	          </tr>
	          <tr> 
	            <td class="gLabel">Plain Past</td>
	            <td id="aPlPastTF"> 
	            </td>
	            <td id="aPlPastNTF"> 
	            </td>
	          </tr>
	          <tr> 
	            <td class="gLabel">Conditional -eba</td>
	            <td id="aEbaTF"> 
	            </td>
	            <td id="aEbaNTF"> 
	            </td>
	          </tr>
	          <tr> 
	            <td class="gLabel">Conditional -ra</td>
	            <td id="aRaTF"> 
	            </td>
	            <td id="aRaNTF"> 
	            </td>
	          </tr>
	          <tr> 
	            <td class="gLabel">-sugiru (too)</td>
	            <td id="aTooTF"> 
	            </td>
	            <td>&nbsp;</td>
	          </tr>
	          <tr> 
	            <td>&nbsp;</td>
	            <td>&nbsp; </td>
	            <td>&nbsp;</td>
	          </tr>
	          <tr> 
	            <td class="gLabel">Adverb</td>
	            <td id="aAdvTF"> 
	            </td>
	            <td>&nbsp;</td>
	          </tr>
	        </table>
    	</div>
 	    <div class="featureSubcontainerDivider"></div>
    	<div class="featureSubcontainer">
	        <table class="gggk-table data-callout examples-adj" cellspacing="0" cellpadding="2">
		        <caption> Examples </caption>
		          <tr> 
			          <td>Plain Present of <strong>takai </strong>(expensive)</td>
			          <td><strong>Takai desu</strong>. It is expensive.</td>
			          <td><strong>Takakunai desu.</strong> It is not expensive.</td>
			        </tr>
			        <tr> 
			          <td>Plain Past of <strong>takai </strong>(expensive)</td>
			          <td><strong>Takakatta desu.</strong> It was expensive</td>
			          <td><strong>Takakunakatta desu.</strong> It was not expensive.</td>
			        </tr>
			        <tr> 
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			        </tr>
			        <tr> 
			          <td>Conditional -eba of <strong>atsui</strong> (hot)</td>
			          <td><strong>Ashita atsukereba...</strong> If it's hot tomorrow...</td>
			          <td>&nbsp;</td>
			        </tr>
			        <tr> 
			          <td>Conditional -ra of <strong>takai</strong> (expensive)</td>
			          <td><strong>Takattara, kaimasen.</strong> If it were expensive, I wouldn't have 
			            bought it.</td>
			          <td>&nbsp;</td>
			        </tr>
			        <tr> 
			          <td>-sugiru (too) of <strong>takai</strong> (expensive)</td>
			          <td><strong>Katai desu ga, takasugiru to omoimasu.</strong> I want to buy it but 
			            I think it's too expensive.</td>
			          <td>&nbsp;</td>
			        </tr>
			        <tr> 
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			        </tr>
			        <tr> 
			          <td>Adverb example of <strong>fukai</strong> (deep)</td>
			          <td><strong>Fukaku kangaemashita.</strong> I thought deeply [about it].</td>
			          <td>&nbsp;</td>
			        </tr>
		      </table>
			    	
    	</div> 
    </section>
