	not used
	
	<header class="main-header">
        <a class="brand" href="index">Gengogaku.orga</a>
		<nav class="navLinks">
			<ul class="nav">
			  <li><a href="index">Main Menu</a></li>
			  <li><a href="verbBuilder">Verbs</a></li>
			  <li><a href="adjBuilder">Adjectives</a></li>
			  <li><a href="dateAndTime">Date/Time</a></li>
			  <li><a href="kana">Kana</a></li>
			</ul>
		</nav>
	</header>