<% layout('layout') -%>
<% script('javascripts/kanaDoc.js') -%>
<% script('javascripts/kana.js') -%>
<% script('javascripts/practice.js') -%>

    <section class="mainContent">
	    <div class="featureHeading">
          <p class="featureTitle">Kana information and practice</p>
		  <p class="featureDescription">This feature provides kana script information and also a simple matching game. </p>
	    </div>
	    
 	    <div class="featureSubcontainer">
	    	<div class="tryIt">
	    		<span class="tryIt-label">Try it!</span>
	    		<div class="tryIt-examples">
	    			<div class="tryIt-example">
		    			<button class="kExample" onClick="tryKana(this)">ぱ</button>
	    			</div>
	    			<div class="tryIt-example">
		    			<button class="btn" onClick="tryKana(this)">ka</button>
	    			</div>
	    			<div class="tryIt-example">
		    			<button class="btn" onClick="tryKana(this)">306C</button>
	    			</div>
	    			<div class="tryIt-example">
		    			<button class="btn" onClick="tryKana(this)">12415</button>
	    			</div>
	    			<div class="tryIt-example">
		    			<button class="kExample" onClick="tryKana(this)">き</button>
	    			</div>
	    			<div class="tryIt-example">
		    			<button class="btn" onClick="tryKana(this)">mu</button>
	    			</div>
	    			<div class="tryIt-example">
		    			<button class="btn" onClick="tryKana(this)">308D</button>
	    			</div>
	    			<div class="tryIt-example">
		          <button class="btn" onClick="tryRandom()">Random</button>
	    			</div>
	    		</div>
	    	</div>
 	          <div class="conversionDisplay">
				<div>
					<p>Get specific kana information. Valid inputs are kana script character, integer value, hex/unicode value or romaji literal.</p>
					<input type="text" id="conversionInput">
					<button id="kConvertBtn" class="btn buildBtn" onClick="doKanaConversion()">Kana</button>
				</div>
				<div><span class="outputLabel gLabel">Pronunciation:</span><span class="valueDisplay" id="pronunciation"></span></div>
				<div><span class="outputLabel gLabel">Unicode value:</span><span class="valueDisplay" id="unicodeValue"></span></div>
				<div><span class="outputLabel gLabel">Integer value:</span><span class="valueDisplay" id="intValue"></span></div>
				<div id="scriptDisplay" class="scriptDisplay"></div>
	          </div>   	
 	    </div>
 	    <div class="featureSubcontainerDivider"></div>
	    <div class="featureSubcontainer kanaPractice">
    		<p>
    			Match the characters with as few mistakes as possible.
    		</p>
    		<div><button id="startPractice" onclick="practiceSetup()">New game</button><button id="startPractice" onclick="replay()">Replay</button> </div>
    		<div id="matchDisplay" class="hideMatchInfo">Match</div>
    		Correct: <span id="hits" class="score">0</span> Incorrect: <span id="misses" class="score">0</span>
    		
	    	<div class="practiceArea">
	    		<div><div id="box1" class="practiceBox">
	    		</div></div>
	    		<div><div id="box2" class="practiceBox">
	    		</div></div>
	    		<div><div id="box3" class="practiceBox">
	    		</div></div>
	    		<div><div id="box4" class="practiceBox">
	    		</div></div>
	    		<div><div id="box5" class="practiceBox">
	    		</div></div>
	    		<div><div id="box6" class="practiceBox">
	    		</div></div>
	    		<div><div id="box7" class="practiceBox">
	    		</div></div>
	    		<div><div id="box8" class="practiceBox">
	    		</div></div>
	    		<div><div id="box9" class="practiceBox">
	    		</div></div>
	    		<div><div id="box10" class="practiceBox">
	    		</div></div>
	    		<div><div id="box11" class="practiceBox">
	    		</div></div>
	    		<div><div id="box12" class="practiceBox">
	    		</div></div>
	    		<div><div id="box13" class="practiceBox">
	    		</div></div>
	    		<div><div id="box14" class="practiceBox">
	    		</div></div>
	    		<div><div id="box15" class="practiceBox">
	    		</div></div>
	    		<div><div id="box16" class="practiceBox">
	    		</div></div>
	    	</div>
    	</div>
 	    
  	    <div class="featureSubcontainerDivider"></div>
	    
	    <div class="featureSubcontainer">
		    <div class="listAllKana">
				<p>List all hiragana as:</p>
				<button id="" class="btn buildBtn" onClick="showAll()">text</button>
				<button id="" class="btn buildBtn" onClick="showAllJson()">JSON</button>
				<div id="fullKanaList" class="fullKanaList" name="fullList">
				<textarea id="fullKanaListTA" class="fullKanaListTA" cols="25" rows="42"></textarea>	        
			</div>
	    </div>  	          
    </section>




















