<% layout('layout') -%>
<% script('javascripts/numbersDoc.js') -%>
<% script('javascripts/numberFunctions.js') -%>
<% script('javascripts/numberAndCounters.js') -%>

    <section class="mainContent">
	    <div class="featureHeading">
          <p class="featureTitle">Numbers and Counters</p>
		  <p class="featureDescription">This feature displays the Japanese number and counter for any value from 1 to 100000. You can generate either a specific number or a block of 1 - 50.</p>
	    </div>
	    	
	    <div class="featureSubcontainer">
    	<div class="tryIt">
    		<span class="tryIt-label">Try it!</span>
    		<div class="tryIt-examples">
    			<div class="tryIt-example">
    				<button class="btn" onclick="tryNumber(this)">1</button>
    			</div>
    			<div class="tryIt-example">
    				<button class="btn" onclick="tryNumber(this)">128</button>
    			</div>
    			<div class="tryIt-example">
    				<button class="btn" onclick="tryNumber(this)">1024</button>
    			</div>
    			<div class="tryIt-example">
    				<button class="btn" onclick="tryNumber(this)">99999</button>
    			</div>
    		</div>
    	</div>
		<div class="builderControls">
			<span>Number:</span>
                    <input id="numberInput" type="text" class="input-small">
                    <button id="buildNumCtrs" class="buildBtn btn" onClick="doCounters2()">Numbers</button>			
		</div>
              <table  class="gggk-table numbers-table">
                <tr> 
                  <td class="gLabel builder-labels-col number-label-col">Number</td>
                  <td><p class="stacked-labels gLabel">Number</p><div id="numberRomajiTF" class="counterDisplay"></div><div id="numberKanjiTF" class="counterDisplay"></div>
                  </td>
                </tr>
                <tr> 
                  <td class="gLabel builder-labels-col">People</td>
                  <td><p class="stacked-labels gLabel">People</p><div id="peopleRomajiTF" class="counterDisplay"></div><div id="peopleKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr> 
                  <td class="gLabel builder-labels-col">General counter</td>
                  <td><p class="stacked-labels gLabel">General counter</p><div id="generalRomajiTF" class="counterDisplay"></div><div id="generalKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr> 
                  <td class="gLabel builder-labels-col">Flat counter - stamps, paper, cards...</td>
                  <td><p class="stacked-labels gLabel">Flat counter - stamps, paper, cards</p><div id="flatCounterRomajiTF" class="counterDisplay"></div><div id="flatCounterKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr> 
                  <td class="gLabel builder-labels-col">Long counter - pencils, trees, 
                    fingers...</td>
                  <td><p class="stacked-labels gLabel">Long counter - pencils, trees, fingers</p><div id="longCounterRomajiTF" class="counterDisplay"></div><div id="longCounterKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr> 
                  <td class="gLabel builder-labels-col">Years of Age</td>
                  <td><p class="stacked-labels gLabel">Years of Age</p><div id="ageYearsRomajiTF" class="counterDisplay"></div><div id="ageYearsKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr> 
                  <td class="gLabel builder-labels-col">Books</td>
                  <td><p class="stacked-labels gLabel">Books</p><div id="booksRomajiTF" class="counterDisplay"></div><div id="booksKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr> 
                  <td class="gLabel builder-labels-col">Small, non-descript objects</td>
                  <td><p class="stacked-labels gLabel">Small, non-descript objects</p><div id="smallRomajiTF" class="counterDisplay"></div><div id="smallKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr> 
                  <td class="gLabel builder-labels-col">Floors of a building</td>
                  <td><p class="stacked-labels gLabel">Floors of a building</p><div id="floorsRomajiTF" class="counterDisplay"></div><div id="floorsKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr>
                  <td class="gLabel builder-labels-col">Large animals - horses, cows, etc.</td>
                  <td><p class="stacked-labels gLabel">Large animals - horses, cows</p><div id="animalsLRomajiTF" class="counterDisplay"></div><div id="animalsLKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr>
                  <td class="gLabel builder-labels-col">Small animals - cats, dogs, etc.</td>
                  <td><p class="stacked-labels gLabel">Small animals - cats, dogs</p><div id="animalsSRomajiTF" class="counterDisplay"></div><div id="animalsSKanjiTF" class="counterDisplay"></div></td>
                </tr>
                <tr>
                  <td class="gLabel builder-labels-col">Flying or hopping animals - birds, frogs... 
                    </td>
                  <td><p class="stacked-labels gLabel">Flying or hopping animals - birds, frogs</p><div id="animalsFRomajiTF" class="counterDisplay"></div><div id="animalsFKanjiTF" class="counterDisplay"></div></td>
                </tr>
              </table>
           </div>          

	    <div class="featureSubcontainer">
		    <div class="">
				<p>List 1 - 50:</p>
				<div class="counterBtnsContainer">
					<button id="" class="btn buildBtn counterBtn" onClick="listNumbers()">Numbers</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listPeople()">People</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listGeneral()">General</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listFlat()">Flat</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listLong()">Long</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listAge()">Age (yrs)</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listBooks()">Books</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listSmall()">Small objects</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listFloors()">Floors</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listLAnimals()">Large animals</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listSAnimals()">Small animals</button>
					<button id="" class="btn buildBtn counterBtn" onClick="listFAnimals()">Flying animals</button>
				</div>
				<div id="counterList" class="counterList">
				<textarea id="counterListTA" class="counterListTA" cols="25" rows="42"></textarea>	        
			</div>
	    </div>  	          
	    	
    </section>
    

    
    
    
    
    
    
    
    
    
    
