<% layout('layout') -%>
<% script('javascripts/practice.js') -%>
<% script('javascripts/kana.js') -%>
<% block('onload', 'onLoad="practiceSetup()"') -%>

    <section class="mainContent">
	    <div class="featureHeading">
          <p class="featureTitle">Practice</p>
		  <p class="featureDescription">Practice your hiragana recognition with a matching game.</p>
	    </div>


    	<div class="featureSubcontainer">
    		<p>
    			Match the characters with as few mistakes as possible.
    		</p>
    		<div><button id="startPractice" onclick="practiceSetup()">New game</button><button id="startPractice" onclick="replay()">Replay</button> </div>
    		<div id="matchDisplay" class="hideMatchInfo">Match</div>
    		Correct: <span id="hits" class="score">0</span> Incorrect: <span id="misses" class="score">0</span>
    		
	    	<div class="practiceArea">
	    		<div><div id="box1" class="practiceBox">
	    		</div></div>
	    		<div><div id="box2" class="practiceBox">
	    		</div></div>
	    		<div><div id="box3" class="practiceBox">
	    		</div></div>
	    		<div><div id="box4" class="practiceBox">
	    		</div></div>
	    		<div><div id="box5" class="practiceBox">
	    		</div></div>
	    		<div><div id="box6" class="practiceBox">
	    		</div></div>
	    		<div><div id="box7" class="practiceBox">
	    		</div></div>
	    		<div><div id="box8" class="practiceBox">
	    		</div></div>
	    		<div><div id="box9" class="practiceBox">
	    		</div></div>
	    		<div><div id="box10" class="practiceBox">
	    		</div></div>
	    		<div><div id="box11" class="practiceBox">
	    		</div></div>
	    		<div><div id="box12" class="practiceBox">
	    		</div></div>
	    		<div><div id="box13" class="practiceBox">
	    		</div></div>
	    		<div><div id="box14" class="practiceBox">
	    		</div></div>
	    		<div><div id="box15" class="practiceBox">
	    		</div></div>
	    		<div><div id="box16" class="practiceBox">
	    		</div></div>
	    	</div>

    	</div>
    	<div class="featureSubcontainer">
    </section>
    
    
    <script>
    	
    </script>
    
    










    
